body {
    background-color: black;
    color: #eee;
    margin: 0;
    padding: 200px;
    font-size: 1rem;
}

a {
    color: #eee;
    text-decoration: none;
    border-bottom: 2px solid #eee;
}

a:hover {
    border-bottom: 2px solid #eee;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#name {
    margin-bottom: 10vh;
}

#name img {
    width: 50vw;
}

#info {
    width: 50vw;
}

#clients {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#clients ul {
    list-style-type: none;
    text-align: left;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}