body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 200px 200px 0 200px;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid blue;
}

a:hover {
    border-bottom: 2px solid black;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#name {
    position: relative;
}

#name img {
    width: 50vw;
    display: block;
}

#portrait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#name:hover #portrait {
    opacity: 1;
}

#logo {
    position: relative;
    filter: invert(100%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

#name:hover #logo {
    opacity: 0;
}

#info {
    width: 50vw;
}

#clients {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#clients ul {
    list-style-type: none;
    text-align: left;
    columns: 3;
    column-gap: 50px;
}

#links {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 640px) {
    body {
        padding: 10px;
    }

    #info {
        width: 90vw;
    }

    #name {
        margin-top: 180px;
    }

    #name img {
        width: 90vw;
    }

    #clients {
        flex-direction: column;
        gap: 0px;
    }

    #clients p {
        margin: 10px 0;
    }

    #clients ul {
        columns: 2;
        padding: 0;
        margin: 0;
    }
}